/* DESKTOP SCREEN */

@media only screen and (min-width: 1150px) { 

    h1 {
        line-height: 140%;
    }

    h5 {
        font: var(--text-mono-menu);
        /* margin-block-start: 0; */
        position: absolute;
        bottom: 0;
    }
    
    /* BACKGROUND PATTERN */
    .pattern {
        border: 1em solid var(--color-bg-gray);
    }
    /* ----------------------------------------------- */


    /* CONTAINER GRID */
    .wrapper {
        display: grid;
        /* background-color: aqua; */
        /* grid-template-columns: repeat(12, 1fr); */
        grid-template-rows: 1fr auto auto auto;
        grid-gap: 1px;
        grid-auto-flow: dense;    
        /* max-width: 85vw; */
        border-radius: 10px;
        margin: -4em 0 0 0;
        grid-template-areas:
            /* "MenuLeft       MenuLeft        .               .               Logo            Logo            Logo            Logo            .               .               MenuRight       MenuRight" */
            /* "Headline       Headline        Headline        Headline        Headline        Headline        Headline        Headline        Headline        Headline        Headline       Headline"             */
            "mapListings    mapListings     mapListings     mapListings     mapListings     mapListings     mapListings     mapListings     mapListings     mapListings     mapListings    mapListings"
            "showContainer  showContainer   showContainer   showContainer   showContainer   showContainer   showContainer   showContainer   showContainer   showContainer   showContainer  showContainer"
            /* ".              Filters         Filters         Filters         Filters         Filters         Filters         Filters         Filters         Filters         Filters         ." */
            "Directory              Directory       Directory       Directory       Directory       Directory       Directory       Directory       Directory       Directory       Directory       Directory"
            "About          About           About           About           About           About           About           About           About           About           About          About"
            ;
    }   

    /* HEADER CONTAINER */


     /* LOGOMARK */

     .logo {
        top: 1em;
        height: 4em; 
        width: 20em;
        left: auto;
        margin: 0 auto 0 auto;
        background-image: url(../../public/scLogoFill.svg);
      }

    /* ----------------------------------------------- */

    /* PROMO BANNER  */

    .promo-banner {
        font: var(--text-mono-std);
        /* background-color: yellow; */
        z-index: 100;
    }


    
    /* HEADLINE */

    .headline-menu-left {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 0 0 .25em .5em;
        /* grid-area: MenuLeft; */
        align-self: left;
        text-align: left;
        width: max-content;
    }

    .headline-menu-left a {
        display: block;
        margin: 0 0 0 0;
    }

    .newsletter-subscribe {
        /* margin: 2.5em 1.5em 0 0; */
        /* grid-area: MenuRight; */
    }

    .newsletter-subscribe a {
        /* text-align: left; */
    }

    .headline-menu--link { 
        font: var(--text-mono-std);
    }
    
    .headline-menu--about {
    }

    /* ----------------------------------------------- */

    /* SUBSCRIBE */
    .email-form {  
        font: var(--text-mono-std);
        padding: .2em .4em .1em .4em;
     }

    .email-form input { 
        width: 20ch;
        margin: 0 0 -1em 0;
        /* padding: 0 0 0 1ch; */
    }

    .email-form input:hover { }

    .email-form input:focus { }

    .email-form button { 
        /* margin: 0 0 .25em 0; */
    }

    .email-form button:hover { }

    .email-form-error {
        font-size: smaller;
        margin: 0 0 0 0;
    }

    /* ----------------------------------------------- */

    /* MAP OF LISTINGS */   

    #map-listings {
        height: 70vh;
        z-index: 10;
    }

    /* Custom map icon */
    .marker {
        width: 15px;
        height: 15px;
      }

    /* ----------------------------------------------- */  

    /* PODCAST SHOW */

    #showContainer {
        margin: -6px 1px 0 1px;
        z-index: 50;
    }

    .podcast {
        grid-template-columns: repeat(4, minmax(0,1fr));
        grid-gap: 1px;
        margin: 0;
    }

    .podcastEpisode {
        min-height: 40vh;
        border-radius: 2%;
    }

    .pullquote {
        font: var(--text-serif-pullquote);
        font-style: italic;
    }

/* 
    .rhap_progress-section {
        display: inherit !important;
        flex: none !important;
        align-items: inherit !important;
        z-index: -1 !important;
    } */
    /* CSS Dropcap synrtax, the escaped " kinda messes this up
    but for future reference */
    /* .pullquote:first-child:first-letter {
        color: #903;
        float: left;
        font-family: Georgia;
        font-size: 75px;
        line-height: 60px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
      } */

    /* ----------------------------------------------- */


    /* CATEGORY & TAG CONTAINER*/
    /* .filters { */
        /* text-align: left; */
        /* margin: 3em 0 6em 0; */
        /* max-height: 20vh; */
        /* background-color: var(--color-test); */
    /* }

    .loadFilters {
        border: none !important;
    }

    .filter-tag-container {
    }

    .tagSize {
        grid-column: span 1;
        align-self: start;
    }
    
    .tagTitle {
        grid-column: span 1;
        align-self: start;
    }

    .tagSeattle, .tagCity {
        grid-column: span 2;
        align-self: start;
    } */

    /* .tagSizeContainer {
        display: grid;
        grid-template-columns: 1fr; */
        /* grid-gap: .25ch; */
    /* } */

    /* .tagSeattleContainer, .tagCityContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: span 2;  */
        /* grid-gap: .25ch; */
    /* } */
/*     
    .allTags {
        grid-column: 9 / span 4; 
        align-self: start;
    }

    .allTagsContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-self: end;
        /* grid-column: span 3; */
        /* grid-gap: .25ch; */
    /* }  */

    .filter-menu {
    }

    .filter-menu.open {
        inset: 0;
        background-color: var(--color-transparent);
    }

    @media (min-height: 800px) {
        .filter-menu.open {
            inset: 0 0 50% 0;
            background-color: var(--color-transparent);
        }
    }

    .filter-menu.closed {

    }

    .filter-toggle-button {
        top: 1em;
        left: 1em;
    }

    .active-filters {
        top: .5em;
        left: 5rem;
        max-width: 35vw;
    }

    .active-filters-list {
        gap: 0.25rem;
        min-width: 30vw;
    }


  
    /* ----------------------------------------------- */

    /* ----------------------------------------------- */


    /* DIRECTORY LISTING */
    .directory {
        grid-template-columns: repeat(12, minmax(0,1fr));
    }

    .directory-list {
        font: var(--text-mono--item);
        grid-auto-flow: row dense;
    }

    .directory-block {
        display: grid;
        grid-column: span 3;
        margin: 0 0 2em 0;
        align-self: start;
        /* if we want to look at evening out the spacing veritcally, set this to center */
    }

    .directory-block--item  {
        line-height: 1.6em;
        border-bottom: none;
        text-align: center;
    }

    .directory-block--title {
        font: var(--text-gin-small);
        text-align: center;
        margin-bottom: .5em;
     }

    /* by filter style */
    .directory-block--filter { }

    /* hover effects */
    .directory-block--item:hover { }  
    
    .loadDirectory {
        display: grid;
        grid-area: Directory;
        grid-gap: 1px;
        grid-template-rows: auto minmax(1ch, 1fr);
     }

     .loadDirectoryBlock {
        background-color: var(--color-bg-gray);
        height: 20vh;
        border-radius: 2%;
        margin: 0 0 0 0;
        display: grid;
        grid-column: span 3;
    }

    

    /* ----------------------------------------------- */

    /* Inline audio player overrides */

    .audioPlayer-small {
        display: inline-block;
        margin: -1em 0 -1em 0;
    }

    .audioPlayer-small .rhap_main-controls {
        max-height: 1.6em;
        margin: -1.4ch 0 0 1ch;
    }

    .audioPlayer-small .rhap_container {
        display: inline-block;
        -webkit-box-shadow: none; 
        border: none;
        box-shadow: none;
        border-radius: none;
        padding: 0 0 0 0;
        background-color: var(--color-transparent);
        width: 11ch;
        height: min-content;
        margin: 0 0 -1ch 1ch;
    }

    .audioPlayer-small .rhap_controls-section {
        display: inline-block;
        flex: none;
    }
    
    .audioPlayer-small .rhap_play-pause-button  {
        font-size: 1.5em;
        /* background-color: var(--color-test); */
    }

    .audioPlayer-small .rhap_current-time {
        display: none;
    }
    
    .audioPlayer-small .rhap_progress-container {
        display: none;
    }

    /* .audioPlayer-small .button {
        color: var(--color-bg-coral-dark);
    } */

    .smallplayer:hover {
        color: var(--color-card);
    }

    .episodePromo {
        display: inline-block;
        font: var(--text-mono-std);
        color: var(--color-text);
        margin: 0 -2ch 0 1em;
        background-color:var(--color-card);
        box-shadow: 0px 0px 2px var(--color-text-tag);
        text-shadow: 0px .5px 0px var(--color-text-tag);
        padding: .5ch 1ch .3ch 1ch;
        border-radius: 1ch 1.2ch .9ch 1.2ch;
    }


    /* ----------------------------------------------- */

    /* About page content */
    
    .about {
        display: grid;
        grid-area: About;
        background-color: var(--color-bg-gray);
        width: 100%;
        margin: 0 0 0 0;
    }

    .aboutContent {
        grid-template-columns: .25fr repeat(6, 1fr) .25fr;
        grid-column-gap: 1.5em;
        text-align: center;
    }

    .about-story {
        grid-column: 2 / 4;
        grid-row: unset;
    }

    .about-submit {
        grid-column: 6 / 8;
        grid-row: unset;
    }
    
    .about-press {
        grid-column: 4 / 6;
        grid-row: unset;
    }

    .aboutContent a {
    }

    .aboutContent a:hover {
    }

    .spacer {
        grid-row-start: 4;
        min-height: 50vmin;
    }

    .submit-size, .submit-select fieldset {
        grid-template-columns:  repeat(5, .1em 1fr);
        grid-row-gap: .1em;
    }

    /* ----------------------------------------------- */

    /* Footer content */

    .footerContent {
        grid-template-columns: .25fr repeat(6, 1fr) .25fr;
        grid-column-gap: 1.5em;
    }
    
    .footer-history {
        grid-column: 2 / 6;
        grid-row: unset;
    }

    .footer-created {
        grid-column: 6 / 8;
        text-align: center;
        grid-row: unset;

    }


    /* ----------------------------------------------- */

    /* Typeform overrides */

    .tf-v1-popover-tooltip {
        background-color: #000 !important;
        bottom: 2.5em !important;
        right: 6.5em !important;
    }

    .tf-v1-popover-tooltip-text {
        font: 700 .8em JetBrains-Mono, sans-serif;
    }

    

}

