/* MOBILE SCREEN */

@media only screen and (min-width: 300px) { 

    h1 {
        font: var(--text-serif-title);
        line-height: 140%;
    }
    
    h5 {
        font: var(--text-mono-menu) !important;
        /* margin-block-end: 0; */
        /* margin-bottom: 2em !important; */
    }

    /* BACKGROUND PATTERN */
    .pattern {
        /* border: 1em solid var(--color-bg-gray); */
        /* background-color: var(--color-bg-gray); */
    }
    /* ----------------------------------------------- */

    .wrapper {
        display: grid;
        background-color: var(--color-card);
        /* grid-template-columns: 1.5em repeat(6, 1fr) 1.5em; */
        grid-template-rows: 1fr auto auto auto;
        /* grid-gap: .5em; */
        grid-auto-flow: dense;    
        min-height: 50vmin;
        /* max-width: 85vw; */
        margin: -6em 0 0 0;
        grid-template-areas:
            /* 
            /* "MenuLeft       MenuLeft        MenuLeft        MenuLeft        MenuRight       MenuRight       MenuRight       MenuRight"  */
            /* ".              Logo            Logo            Logo            Logo            Logo            Logo            ."  */
            
            /* "Headline       Headline        Headline        Headline        Headline        Headline        Headline        Headline" */
            "mapListings    mapListings     mapListings     mapListings     mapListings     mapListings     mapListings     mapListings"
            "showContainer  showContainer   showContainer   showContainer   showContainer   showContainer   showContainer   showContainer"
            /* "Filters        Filters         Filters         Filters         Filters         Filters         Filters         Filters" */
            ".              Directory       Directory       Directory       Directory       Directory       Directory       ."
            "About          About           About           About           About           About           About           About"
            /* ".              Footer          Footer          Footer          Footer          Footer          Footer          ." */
            ;
    }  


    .logo {
        position: -webkit-sticky;
        position: sticky;        
        top: 1em;
        left: 80vw;
        height: 6em; 
        width: 20vw;
        /* margin: 0 auto 0 auto; */
        /* grid-area: Logo; */
        background-image: url(../../public/scLogoFill-monogram.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 1000;
    }

    /* ----------------------------------------------- */
    
    /* HEADLINE */



    .headline-wrapper-small {
        display: grid;
        /* grid-area: Headline; */
        max-height: 10vh;
        margin: 0 0 0 0;
        /* background-color:purple; */
    }

    .headline h1 {
        align-self: center;
    }

    .headline-menu-left {
        position: fixed;
        bottom: .7em;
        left: 0;
        margin: 0 0 .25em .5em;
        /* grid-area: MenuLeft; */
        align-self: left;
        text-align: left;
        width: max-content;
    }

    .headline-menu-left a {
        display: block;
        margin: 0 0 0 0;
    }
    
    .newsletter-subscribe {
        /* margin: 1.5em 0 0 0;    */
        display: inline-block;     
        /* grid-area: MenuRight; */
        /* align-self: center; */
        text-align: left;
        z-index: 100;
        width: min-content;
    }

    .newsletter-subscribe a {
        /* font-size: .8em; */
        /* width: min-content; */
    }

    .headline-menu--link, .email-form button {
        color: var(--color-text);
        font: var(--text-mono-std-mobile);
        background-color: var(--color-bg-gray);
        text-transform: uppercase;
        border-radius: 4px;
        padding: .3em .4em .2em .4em;
        /* margin: -2em 0 0 3em; */
        width: max-content;
        /* align-self: start; */
        text-align: left;
    }

    .headline-menu--about {
        justify-self: end;
    }

    .headline-menu--link:hover, .email-form button:hover {
        background: var(--color-bg-coral);
        /* box-shadow: -.15em .15em 2px var(--color-listingHover-shadow); */
        cursor: pointer;
        /* text-decoration: underline; */
    }
    /* ----------------------------------------------- */

    /* SUBSCRIBE */

    .email-form {
        display: inline;
        font: var(--text-mono-std-mobile);
        border: 0 none var(--color-card);
        padding: .2em .4em .1em 0;
        margin: 0;
        /* text-align: right; */
        text-transform: uppercase;
        width: 100%;
    }

    .email-form button {
        font: var(--text-mono--link);
        padding: .3em .4em .2em .4em;
        height: 3ch;
        background-color: var(--color-bg-gray);
        margin: 0 0 0 0;
        border-radius: 4px;
    }

    .email-form button:hover {
        cursor: pointer;
        background-color: var(--color-bg-coral);
        /* text-decoration-line: underline; */
    }

    .email-form input {
        height: 3ch;
        background-color: var(--color-bg-gray);
        border-radius: 4px;
        padding-left: .4em;
        width: 15ch;
    }
    
    .email-form input:focus {
        padding: 0 0 0 1ch;
        box-shadow: 0 0 5px var(--color-bg-coral);
        background-color: var(--color-card);
        outline: 1px solid var(--color-bg-coral);
        outline-offset: none;
    }

    .email-form:focus{
        box-shadow: 0 0 5px var(--color-bg-coral);
        background-color: var(--color-bg-coral);
        outline: none;
        outline-offset: none;
    }

    .email-form-success {
        display: inline;
        font-size: smaller;
        text-transform: lowercase;
        font-style: italic;
        background-color: #8DE0B6;
        margin: 0 0 0 0;
    }

    .email-form-error {
        display: inline;
        font-size: x-small;
        text-transform: lowercase;
        font-style: italic;
        background-color: #F5DB2E;
        margin: 0 0 0 0;
    }

    /* ----------------------------------------------- */

    /* MAP OF LISTINGS */   

    #map-listings {
        display: grid;
        grid-area: mapListings;
        width: 100%;
        height: 60vh;
    }

    /* Custom map icon */
    .marker {
        background-image: url('/mapDotv2.png');
        background-size: cover;
        width: 20px;
        height: 20px;
        /* border-radius: 50%; */
        cursor: pointer;
        filter: brightness(50%);
      }

    .map-popup {
        max-width: fit-content !important;
    }

    .mapboxgl-popup-content {
        width: fit-content !important;
        box-shadow: 0 1px 2px rgba(0,0,0,.2) !important;
    }
    .map-popup h1 {
        font: var(--text-serif-std);
    }

    .map-popup h2 {
        font: var(--text-mono-menu);
    }

    .map-popup a {
        font: var(--text-mono-menu);
        text-decoration: underline;
    }
    
    .map-tagContainer {
        display: grid;
        grid-template-columns: repeat(4, auto);
        column-gap: 0.5em;
        /* background-color: #8DE0B6; */
        font: var(--text-mono-menu);
    }

    .mapboxgl-popup-close-button {
        right: .6em !important;
    }

    /* ----------------------------------------------- */    

    /* PODCAST SHOW */

    #showContainer {
        display: grid;
        grid-area: showContainer;
    }

    .loadEpisode {
        opacity: 0; /* Start with opacity 0 */
        transition: opacity 0.3s ease-in-out; /* Add transition */
    }
    
    .loadEpisode.loaded {
        opacity: 1; /* Transition to opacity 1 */
    }
    
    .podcast {
        display: grid;
        margin: 0 0 0 0;
    }

    .podcastEpisode {        
        display: grid;
        /* grid-template-rows: min-content auto minmax(1ch, 1fr); */
        grid-template-rows: auto minmax(1ch, 1fr);
        row-gap: .3em;
        padding: 1.5em;
        min-height: 20vh;
        /* outline: 2px solid rgba(0, 0, 0, 0.1); */
        /* outline-offset: -2px; */
    }
    
    .podcastEpisode-content {
        align-self: end;
        font: var(--text-mono--itemPodcast);
    }

    .podcastEpisode-content svg {
        text-decoration: none;
        display: inline;
        font-size: medium;
    }

    .podcastEpisode-content a {
        text-decoration: underline;
        font-weight: 300;
        align-self: end;
    }

    .podcastEpisode-content a:hover, .podcastEpisode-person a:hover {
        background-color: var(--color-card);
    }

    .podcastEpisode-person {
        text-transform: uppercase;
        font-weight: 700 !important;
        margin-bottom: 1em;
    }

    .pullquote {
        font: var(--text-serif-pullquote-small);
        /* font-style: italic; */
        text-shadow: 1px -1px rgba(255, 255, 255, 0.2);
        margin-bottom: .25em;
    }

    .podcast-promo h3 {
        font: var(--text-mono-std);
        margin: 0 0 -1.5em 0;
    }

    .podcast-promo h2 {
        font: var(--text-mono-title);
    }

    .loadEpisode {
        background-color: var(--color-bg-gray);
        display: grid;
        grid-template-rows: auto minmax(1ch, 1fr);
        row-gap: .3em;
        padding: 1.5em;
        min-height: 20vh;      
        border-radius: 2%;  
    }


    /* Audio player overrides */

    .rhap_container {
        -webkit-box-shadow: none !important; 
        box-shadow: none !important;
        padding: 0 0 0 0 !important;
        background-color: rgba(255, 255, 255, 0) !important;
        /* border: 5px solid var(--color-bg-coral); */
        /* border-radius: 10px; */
        margin: -.9em 0 -1em 0 !important;
    }

    .rhap_main {
        display: inline-block;
    }

    .rhap_controls-section {
        flex: none !important;
        display: inline !important;
        margin-left: -.4em !important;
    }

    .rhap_main-controls {
        display: inline-block;
        width: min-content;
    }

    .rhap_time {
        font: var(--text-mono--itemPodcast) !important;
        color: var(--color-text) !important;
        /* background-color: var(--color-bg-coral) !important; */
        /* -webkit-box-shadow: 0px 0px 5px 2px var(--color-bg-coral);  */
        /* box-shadow: 0px 0px 5px 2px var(--color-bg-coral); */
        /* text-shadow: 1px 1px 2px var(--color-bg-coral-dark); */
        margin: 0 0 0 0;
    }

    .rhap_progress-indicator {
        display: none;
    }

    .rhap_container {
        background-color: none !important;
        margin-bottom: -1em;
    }

    .rhap_progress-container { 
        margin: 0 calc(-10px + 1%) 0 calc(10px + 1%) !important;
        height: 3em !important;
    }

    .rhap_progress-bar {
        background-color: var(--color-card-half) !important;
    }

    .rhap_progress-filled {
        background-color: var(--color-text) !important;
    }

    .rhap_play-pause-button {
        font-size: 1em !important;
        color: var(--color-text) !important;
        height: 50px !important;
        width: 1em !important;
        margin: 0 0 0 .4em !important;
    }

    .rhap_play-pause-button svg:hover {
        opacity: 1;
    }

    

    /* DIRECTORY LISTING */
    .directory {
        display: grid;
        grid-area: Directory;
        /* grid-auto-flow: dense; */
        grid-template-columns: repeat(4, minmax(0,1fr));
        grid-gap: .5em;
        /* margin: 2em 0 2em 0; */
    }

    .directory-list {
        font: var(--text-mono--itemMobile);
    }

    .directory-block {
        display: grid;
        grid-column: span 8;
        margin: 0 0 2em 0;
    }

    .directory-block--item {
        line-height: 3em;
        list-style: none;
        border-bottom: 1px dashed var(--color-dark-listingLink);
        text-shadow: 0em .05em 1px var(--color-card-half);
        margin: .1em 0 0 0;
    }
    
    .directory-block--title {
        color: var(--color-text);
        font: var(--text-gin-std);
        text-shadow: 0px 1px var(--color-card);
        margin: 1em 0 0 0;
    }

     /* by filter style */
     .directory-block--filter {
        display: grid;
        min-height: 50vmin;
        grid-column: span 4;
        grid-auto-flow: row;
    }

    /* hover effects */
    .directory-block--item:hover {
        font-weight: 600;
        background: var(--color-bg-card);
        border-radius: 4px;
        /* border: .1em dotted var(--color-bg-coral); */
        /* padding: .2em .4em .1em .4em; */
        margin: .1em 0 0 0;
        /* box-shadow: 0em 0em 3px var(--color-listingHover-shadow); */
        text-decoration: underline;
    }

    #endcap {
        margin: 50% 0 0 0;
        font: var(--text-mono-menu);
        text-shadow: none;
    }

    .directory-block--end {
        border-bottom: 1px solid var(--color-text-tag);
        padding: 0 0 1.5em 0;
    }

    .directory-block--end p, .directory-block--end a {
        color: var(--color-text);
        /* text-transform: uppercase; */
        border-radius: 4px;
        padding: .3em .4em .2em .4em;
        margin: 0 0 0 0;
        text-align: center;
    }

    .directory-endcap--link:hover {
        background: var(--color-bg-coral);
        /* box-shadow: -.15em .15em 2px var(--color-listingHover-shadow); */
        cursor: pointer;
        text-decoration: underline;
    }

    .episodePromo, .audioPlayer-small {
        display: none;
    }

    .loadDirectory {
        display: grid;
        grid-area: Directory;
        grid-gap: 1px;
        grid-template-columns: repeat(12, minmax(0,1fr));
     }

    .loadDirectoryBlock {
        background-color: var(--color-bg-gray);
        height: 40vh;
        border-radius: 2%;
        margin: 0 0 0 0;
        display: grid;
        grid-column: span 3;
        opacity: 0; /* Start with opacity 0 */
        transition: opacity 0.3s ease-in-out; /* Add transition */
    }
    .loadDirectoryBlock.loaded {
        opacity: 1; /* Transition to opacity 1 */
    }


    /* ----------------------------------------------- */

    /* filters at the top
    clear fitlers top right
    logo middle
    typeform bottom right
    newsletter podcast, discord bottom left
    */


    /* CATEGORY & TAG CONTAINER*/
    /* .filters {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 100%;
        display: grid; */
        /* grid-area: Filters; */
        /* grid-template-columns: repeat(12, 1fr); */
        /* grid-gap: .2ch; */
        /* padding-bottom: .2em; */
        /* overflow:visible; */
        /* background-color: var(--color-bg-gray); */
        /* background-color: slateblue; */
        /* z-index: 50; */
    /* } */

    /* .filter-cat-container {
    } */
/* 
    .tagSize, .tagSeattle, .tagCity, .allTags {
        display: grid;
        grid-column: span 4;
    }

    .tagTitle {
        grid-column: span 1;
    }

    .filter-cat--jump {
        line-height: 1.6em;
        color: var(--color-text);
        display: inline-block;
        margin: 0 .8em 0 0;
    } */

    /* .filter-tag-container {
        border: 1px solid var(--color-bg-gray);
        border-style: none none solid solid;
        padding: 2px;
        margin: 1px 0 0 0;
    } */

    /* .filter-tag-container:hover {
        background-color: var(--color-card);
    } */



    .filter-menu {
        position: fixed;
        z-index: 150;
        transition: all 0.3s;
    }

    .filter-menu.open {
        inset: 0;
        background-color: var(--color-bg-gray);
    }

    .filter-menu.closed {
        top: 1em;
        left: 1em;
    }

    .filter-menu-content {
        transition: all 0.1s;
    }

    .filter-menu-content.open {
        /* background-color: var(--color-card-half);  */
        /* border-radius: 0.5rem; */
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .filter-menu-content.closed {
        width: 3rem;
        height: 3rem;
    }

    .filter-toggle-button {
        position: fixed;
        top: .5em;
        left: .5em;
        padding: 1rem;
        background-color: black;
        color: white;
        border-radius: 50%;
        width: 54px;
        height: 54px;
        font-size: 24px;
    }

    .filter-content {
        padding: 6em 1em 0 1em;
        overflow-y: auto;
        /* background-color: var(--color-card); */
        height: 100%;
    }

    /* .filter-title { */
        /* font-size: 2rem; */
        /* font-weight: bold; */
        /* margin-top: 2em; */
    /* } */

    .filter-sections {
        display: grid;
        gap: 1em;
    }

    .filter-section {
        /* background-color: var(--color-card); */
        display: grid;
        /* gap: 0.5rem; */
    }

    .filter-section-title {
        font: var(--text-mono-title);
        text-transform: uppercase;
        letter-spacing: 10px;
        background-color: var(--color-card);
        /* margin-bottom: 0.5rem; */
    }

    .filter-tag--attr {
        font: var(--text-mono-menu);
        color: var(--color-text);
        text-align: left;
        padding: 1px;
        margin: 0;
        background-color: var(--color-card);
        box-shadow: 0.3em 0.3em 0em rgba(0, 0, 0, 0.1);
    }

    .filter-tag--attr:hover {
        border-radius: 4px;
        color: var(--color-card);
        background-color: var(--color-text);
    }

    .filter-tag--attr.selected {
        /* Styles for selected filter tags */
        background-color: lightblue; /* Example color */
    }

    .active-filters {
        position: absolute;
        top: 0;
        left: 3.5rem;
        /* background-color: white; */
        /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); */
        /* border-radius: 0.5rem; */
        /* padding: 0.5rem; */
        max-width: 69vw;
    }

    .active-filters-title {
        font-size: 0.875rem;
        font-weight: semi-bold;
        margin-bottom: 0.5rem;
    }

    .active-filters-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
        min-width: 60vw;
    }

    .active-filter-item {
        font: var(--text-mono-menu);
        padding: 0.25rem 0.5rem;
        background-color: #e5e7eb;
        border-radius: 0.5rem;
        cursor: pointer;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }
    
    .active-filter-item:hover {
        background-color: #d1d5db;
    }

    .active-filter-item:hover::after {
        content: '✖';
        margin-left: 0.5rem;
    }
    

    .filter-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.1em;
        /* margin-bottom: 1rem; */
    }

    @media (min-width: 640px) {
        .filter-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (min-width: 768px) {
        .filter-grid {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media (min-width: 1024px) {
        .filter-grid {
            grid-template-columns: repeat(8, 1fr);
        }
    }
    

    .loadFilters {
        background-color: var(--color-bg-gray);
        /* height: 5vh; */
        margin: 0 1px 0 0;
        border: none;
        border-radius: 2%;
    }
    
    .clear-filters-button {
        height: 32px;
        grid-column: span 1;
        padding: 0.5rem 1rem;
        margin: 1em 0 0 0;
        text-align: center;
        font: var(--text-mono-menu);
        text-transform: uppercase;
        color: var(--color-text);
        background-color: var(--color-bg-coral);
        border-radius: 0.5rem;
    }

    .clear-filters-button:hover {
        cursor: pointer;
        background-color: var(--color-bg-coral-dark);
        color: var(--color-card);
        /* text-decoration-line: underline; */
    }

    /* ----------------------------------------------- */


    /* About & Submit page content */

    .about {
        display: grid;
        grid-area: About;
        background-color: var(--color-bg-gray);
        width: 100%;
        margin: 0;
        font: var(--text-serif-pullquote);
        text-align: center;
    }

    .aboutContent {
        grid-template-columns: 1fr;
        grid-row-gap: 1.5em;
        display: grid;
        padding: 2.5em;
    }

    .about-story {
        grid-row: 1;
    }

    .about-submit {
        grid-row: 2;
    }
    
    .about-press {
        grid-row: 3;
    }


    .about a {
        color:var(--color-bg-coral-dark);
        text-decoration: none;
    }

    .about a:hover {
        background: var(--color-bg-coral);
        border-radius: 4px;
        cursor: pointer;
        text-decoration: underline;
        color: var(--color-text);
    }

    .spacer {
        display: grid;
        grid-row-start: 7;
        min-height: 30vmin;
    }

    /* ----------------------------------------------- */
    
    /* Footer content */

    .footerContent {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1.5em;
        margin: 1.5em 2.5em 2.5em 2.5em;
    }
    
    .footer-history {
        grid-row: 1;
    }

    .footer-created {
        grid-row: 2;
        text-align: center;
    }


    /* ----------------------------------------------- */


    /* Typeform overrides */

    .tf-v1-popover-button, .tf-v1-popover-tooltip::before, .tf-v1-popover-wrapper button {
        background-color: #000 !important;
    }

    .tf-v1-popover-button {
        width: 3.5em !important;
        height: 3.5em !important;
    }

    .tf-v1-popover-tooltip::before {
        bottom: 12px !important;
    }

    .tf-v1-popover-button-icon {
        margin: 0 0 .25em 0;
    }

    .tf-v1-popover-tooltip {
        background-color: #000 !important;
        bottom: 1.5em !important;
        right: 6em !important;
    }

    .tf-v1-popover-tooltip-text {
        font: 700 1em JetBrains-Mono, sans-serif;
        text-transform: uppercase;
        color: #FFF;
    }

    .tf-v1-popover-tooltip-close {
        display: none !important;
    }
    
    
    /* ----------------------------------------------- */    
    
}

