

/*  EPISODE PROMO COLORS */

.ep1 {  background-color:#CCC9DC !important;  }
.ep1, .ep1 .rhap_time, .ep1 a, .ep1 svg {   
        color: #1B2A41 !important;  }

.ep2 {  background-color:#D8E1A8 !important;  }
.ep2, .ep2 .rhap_time, .ep2 a, .ep2 svg {   
        color: #375E43 !important;  }

.ep3 {  background-color:#BBDFF2 !important;  }
.ep3, .ep3 .rhap_time, .ep3 a, .ep3 svg {   
        color: #13499A !important;  }

.ep4 {  background-color:#FFD5BD !important;  }
.ep4, .ep4 .rhap_time, .ep4 a, .ep4 svg {   
        color: #805D93 !important;  }

.ep5 {  background-color:#F7E35D !important;  }
.ep5, .ep5 .rhap_time, .ep5 a, .ep5 svg {   
        color: #434043 !important;  }

.ep6 {  background-color:#FFCCCF !important;  }
.ep6, .ep6 .rhap_time, .ep6 a, .ep6 svg {   
        color: #F02D3A !important;  }

.ep7 {  background-color:#16C172 !important;  }
.ep7, .ep7 .rhap_time, .ep7 a, .ep7 svg {   
        color: #214F4B !important;  }

.ep8 {  background-color:#FDD877 !important;  }
.ep8, .ep8 .rhap_time, .ep8 a, .ep8 svg {   
        color: #FE7F2D !important;  }

.ep9 {  background-color:#31B1E8 !important;  }
.ep9, .ep9 .rhap_time, .ep9 a, .ep9 svg {   
        color: #0A559A !important;  }

.ep10 { background-color:#EDF67D !important;  }
.ep10, .ep10 .rhap_time, .ep10 a, .ep10 svg {   
        color: #372772 !important;  }

.ep11 { background-color:#F5DB2E !important;  }
.ep11, .ep11 .rhap_time, .ep11 a, .ep11 svg {   
        color: #5447A9 !important;  }

.ep12 { background-color:#FFB185 !important;  }
.ep12, .ep12 .rhap_time, .ep12 a, .ep12 svg {
        color: #13499A !important;  }

.ep13 { background-color:#8DE0B6 !important;  }
.ep13, .ep13 .rhap_time, .ep13 a, .ep13 svg {
        color: #372772 !important;  }
        
        
/* ----------------------------------------------- */


/*  EPISODE BOBBLES */

.bobbleTop {
        animation-name: bobbleTop;
        animation-duration: 0.8s;
        transform-origin: left bottom;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
}

@keyframes bobbleTop {
        0% { transform: translate(2px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-15deg); }
        20% { transform: translate(-3px, 0px) rotate(4deg); }
        30% { transform: translate(0px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(15deg); }
        50% { transform: translate(-1px, 2px) rotate(-4deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(2px, 1px) rotate(-4deg); }
        80% { transform: translate(-1px, -1px) rotate(4deg); }
        90% { transform: translate(2px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-4deg); }
}

.bobbleBottom {
        animation-name: bobbleBottom;
        animation-duration: 1s;
        transform-origin: left top;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
}

@keyframes bobbleBottom {
        0% { transform: translate(2px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-4deg); }
        20% { transform: translate(-3px, 0px) rotate(4deg); }
        30% { transform: translate(0px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(4deg); }
        50% { transform: translate(-1px, 2px) rotate(-15deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(2px, 1px) rotate(-4deg); }
        80% { transform: translate(-1px, -1px) rotate(15deg); }
        90% { transform: translate(2px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-15deg); }
}

      


/* ----------------------------------------------- */