@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* IMPORTS FOR OTHER SECTIONS */
@import url(css/fonts.css);             /* All hosted and external fonts */
@import url(css/300.css);               /* Mobile styles */
@import url(css/1000.css);              /* Desktop styles */
@import url(css/episodes.css);          /* Episode colors */    

/* COLOR VARIABLES */
:root {
    --color-transparent: rgba(255, 255, 255, 0);
    --color-bg-coral: rgba(255, 173, 161, 1);
    --color-bg-coral-half: rgba(255, 173, 161, 0.5);
    --color-bg-coral-dark: rgb(247, 130, 112);
    /* --color-bg-gray: rgba(113, 64, 96, 0.05); */
    --color-bg-gray: #E5E5E5;
    --color-bg-gray-dark: rgb(214, 214, 214);
    --color-text: rgb(41, 41, 41);
    --color-text-tag: rgb(114, 113, 113);
    --color-card: rgb(255, 255, 255);
    --color-card-half: rgba(255, 255, 255, 0.5);
    --color-listingLink: #2e2e2e;
    --color-listing-purple: #724061b6;
    --color-listingHover-shadow: rgba(113, 64, 96, 0.3);
    --color-separator: rgba(255, 173, 161, .3);
    --color-test: #2fdf29;
    --color-dark-text: hsl(25, 70%, 45%);
    --color-dark-listingLink: #BEC6CF;
    --color-dark-border: #333333;
    --color-dark-bg: #1F1E1E;
    --text-mono-std: 400 .7em JetBrains-Mono, sans-serif;
    --text-mono-input: 400 .8em JetBrains-Mono, sans-serif;
    --text-mono-inputSubmit: 400 1.2em JetBrains-Mono, sans-serif;
    --text-mono--item: 500 .8em JetBrains-Mono, sans-serif;
    --text-mono--itemMobile: 500 1.4em JetBrains-Mono, sans-serif;
    --text-mono--itemHighlight: 600;
    /* this .68 is because a text size got double .8em in the filter titles
    .68 is within a 1/2 pixel size, but it's not truly correct */
    --text-mono--itemPodcast: 500 .68em JetBrains-Mono, sans-serif;
    --text-mono-menu: 400 .8em JetBrains-Mono, sans-serif;
    --text-mono-title: 800 1.5em JetBrains-Mono, sans-serif;
    --text-serif-std: 400 2.8em Spectral, serif;
    --text-serif-body: 400 1.5em Spectral, serif;
    --text-serif-bld: 700 1em Spectral, serif;
    --text-serif-title: 600 3em Spectral, serif;
    --text-serif-pullquote: 400 1.25em Spectral, serif;
    --text-serif-pullquote-small: 600 1em Spectral, serif;
    --text-serif-label: 400 .8em Spectral, serif;
    --text-serif--item: 400 1.1em Spectral, serif;
    --text-gin-std: 400 4em Gin-and-Soda, sans-serif;
    --text-gin-small: 400 2em Gin-and-Soda, sans-serif;
    /* --text-tag-toggle: put in the styles from the test br subscribe button here */
    /* include text styles for desktop and variable baselines */
}
/* ----------------------------------------------- */


/* WHOLE SITE STYLES */
* { }

body {
    font-size: 16px;
    line-height: 1.3em;
    color: var(--color-text);
}

a {
    color:var(--color-listingLink);
    text-decoration: none;
}

a:visited {  }
a:hover {   cursor: pointer; }

.hidden {
    display: none;
}

/* ----------------------------------------------- */

/*  GLOBAL PROMO COLORS */


.cardEpisode1 {    background-color:#CCC9DC !important;  }
.cardEpisode2 {    background-color:#D8E1A8 !important;  }
.cardEpisode3 {    background-color:#BBDFF2 !important;  }
.cardEpisode4 {    background-color:#FFD5BD !important;  }
.cardEpisode5 {    background-color:#F7E35D !important;  }
.cardEpisode6 {    background-color:#FFCCCF !important;  }
.cardEpisode7 {    background-color:#16C172 !important;  }
.cardEpisode8 {    background-color:#FDD877 !important;  }
.cardEpisode9 {    background-color:#31B1E8 !important;  }
.cardEpisode10 {   background-color:#EDF67D !important;  }
.cardEpisode11 {   background-color:#EFFCEE !important;  }
.cardEpisode12 {   background-color:#F5DB2E !important;  }
.cardEpisode13 {   background-color:#E0895E !important;  }
.cardEpisode14 {   background-color:#8DE0B6 !important;  }
.cardEpisode15 {   background-color:#E3C770 !important;  }



/* ----------------------------------------------- */

/*  DARK MODE STYLES */


@media (prefers-color-scheme: dark) {

    /* h1, h5, a, p, .headline-menu--link, .directory-block--end p, .directory-block--end a, label {
        color: var(--color-dark-listingLink);
    }

    .logo {
        background-image: url(../static/scLogoDark.svg);
    }

    .directory-endcap--link:hover, .headline-menu--link:hover {
        background: var(--color-bg-coral);
        color: var(--color-text);
        box-shadow: none;
        cursor: pointer;
        text-decoration: underline;
    }

    .podcastEpisode a, .podcastEpisode pullquote {
        color: var(--color-listingLink);
    }

    .pattern {
        border: 1em solid var(--color-dark-border);
        background-color: var(--color-dark-bg);
    }

    .footer a {
        color: var(--color-dark-listingLink);
        background-color: var(--color-dark-border);
    }

    .podcastEpisode {
        opacity: .75;
    }

    .podcastEpisode:hover {
        opacity: 1;
    }

    .directory-block--item {
        text-shadow: none;
    }

    .directory-block--title {
        color: var(--color-dark-text);
        text-shadow: none;
    }

    .directory-block--item .rhap_current-left-time {
        color: var(--color-dark-listingLink) !important;       
    } */

}